{{> footer-scripts}}
<footer class="footer">
    <div class=columns>
        {{> footer-content}}
        <div>
            <h3>This website is managed by<h3>
                    <img src="{{{uiRootPath}}}/img/EU_Publications_Office_logo_with name.png" class="logo" />
        </div>
    </div>
</footer>