{{> header-scripts}}
<header class="header">
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
                <img src="{{{uiRootPath}}}/img/MOCKUP1-TED_DeveloperDoc-1.svg" class="logo" />
                {{!-- {{site.title}} --}}
            </a>
            <button class="navbar-burger" data-target="topbar-nav">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="topbar-nav" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">Home</a>
                {{> header-content}}
                {{#if env.DOCSEARCH_ENABLED}}
                <div class="navbar-item search">
                    <input id="search-input" type="text" placeholder="Search docs">
                </div>
                {{/if}}
            </div>
        </div>
    </nav>
</header>
