
{{>header-scripts}}

  <div class="eu-flag">
         <nav class="navbar">
                <div class="navbar-brand">

            <div class="eu-emblem" style="display: inline-block;">
                <!-- flag and logo-->
                <div class="eu-emblem-std-en" ><a href="https://european-union.europa.eu/index_en"><span></span></a></div>
            </div>
        </div>
         <div class="sep-frame">
            <div class="rect-grey"></div>
        </div>
        </nav>

    </div>

    <div class="eu-tenders">
         <nav class="navbar">
          <div class="text-eu-tenders">EU tenders</div>

        <div id="topbar-nav" class="navbar-menu">
            <div class="text-eu-subtext-text">TED Developer Docs</div>
            <div class="text-eu-subtext-label">Documentation for TED developers and eSenders</div>
            <div class="navbar-end">
                    {{!-- {{#if env.SEARCH_ENABLED}} --}}
                    <div class="navbar-item search">
                        <input id="search-input" type="text" placeholder="Search docs">
                    </div>
                    {{!-- {{/if}} --}}
            </div>
        </div>
        </nav>
    </div>