:root {

  /*** BASE FONTS ****/

  /* Font families - Arial */
  --gs-base-font-family-default: Arial, sans-serif;
  --gs-base-font-family-heading: Arial, sans-serif;

  /* Font weights - Arial */
  --gs-base-font-weight-default: 400;
  --gs-base-font-weight-heading: 700;


  /* Font sizes */
  --gs-base-font-size-2xs: 0.75rem;
  /* 12px Tiny short text (1 narrow line maximum) for extra fine print. Use in extremely exceptional cases when "xs" does not suffice. */
  --gs-base-font-size-xs: 0.813rem;
  /* 13px Very small short text (under 3 lines) for fine print, compacted table data and UI components */
  --gs-base-font-size-s: 0.875rem;
  /* 14px Small body text (1-2 short paragraphs), captions, table data and UI components */
  --gs-base-font-size-m: 1rem;
  /* 16px Default body text (good for extended reading), captions, table data and UI components */
  --gs-base-font-size-l: 1.125rem; /* 18px H5, large body text (good for extended reading) */
  --gs-base-font-size-xl: 1.25rem; /* 20px H4 */
  --gs-base-font-size-2xl: 1.5rem; /* 24px H3 */
  --gs-base-font-size-3xl: 1.75rem; /* 28px H2 */
  --gs-base-font-size-4xl: 2rem; /* 32px H1 */
  --gs-base-font-size-5xl: 2.25rem; /* 36px Other extra large text */
  --gs-base-font-size-6xl: 2.625rem; /* 42px Other extra large text */

  --gs-base-font-size-sp-15: 0.938rem; /* 15px For UI components when you really need something in between "s" and "m". Use sparingly. */

  /* Line heights */

  --gs-base-line-height-xs: 1; /* buttons, navigation, and text not meant to break over a line */
  --gs-base-line-height-s: 1.15; /* headings, introductory (lead or dek) text, no more than 1-2 sentences */
  --gs-base-line-height-m: 1.35; /* short text (under 1 paragraph), captions, text with a very short or very long measure */
  --gs-base-line-height-l: 1.5; /* short (1-2 paragraphs) of running text, especially with a short measure */
  --gs-base-line-height-xl: 1.62; /* for most reading text, especially text meant for extended reading */
  --gs-base-line-height-2xl: 1.75; /* shorter text (1-2 paragraphs) meant to be distinguished from other page text, pullquotes */

  /* Spacing */
  --gs-base-spacing-0: 0;
  --gs-base-spacing-2xs: 0.25rem; /* 0.25rem / 4px  */
  --gs-base-spacing-xs: 0.5rem; /* 0.5rem / 8px  */
  --gs-base-spacing-s: 0.75rem; /* 0.75rem / 12px  */
  --gs-base-spacing-m: 1rem; /* 1rem / 16px  */
  --gs-base-spacing-l: 1.5rem; /* 1.5rem / 24px  */
  --gs-base-spacing-xl: 2rem; /* 2rem / 32px  */
  --gs-base-spacing-2xl: 2.5rem; /* 2.5rem / 40px  */
  --gs-base-spacing-3xl: 3rem; /* 3rem / 48px  */
  --gs-base-spacing-4xl: 4rem; /* 4rem / 64px  *

  /*** colors ****/

  /* main (OP) */
  --gs-base-color-main-100: #132760; /* accessible */
  --gs-base-color-main-75: #697188; /* accessible Link secondary */

  /* sky (eurlex) */
  --gs-base-color-eurlex-130: #005E7E;
  /*--gs-base-color-eurlex-120: #006B8F;BEFORE */
  --gs-base-color-eurlex-120: #00678A;
  /*--gs-base-color-eurlex-110: #007EA8; BEFORE accessible */
  --gs-base-color-eurlex-110: #00749B; /* accessible */
  --gs-base-color-eurlex-100: #0099CC;
  --gs-base-color-eurlex-75: #58BCDF;
  --gs-base-color-eurlex-50: #6ADAFF;
  --gs-base-color-eurlex-25: #B8EDFF;
  --gs-base-color-eurlex-10: #E0F7FF; /* bg */
  --gs-base-color-eurlex-5: #EFF9FB; /* bg */

  --gs-base-color-sky-130: #005E7E;
  --gs-base-color-sky-120: #006B8F;
  --gs-base-color-sky-110: #007EA8; /* accessible */
  --gs-base-color-sky-100: #0099CC;
  --gs-base-color-sky-75: #58BCDF;
  --gs-base-color-sky-50: #6ADAFF;
  --gs-base-color-sky-25: #B8EDFF;
  --gs-base-color-sky-10: #E0F7FF; /* bg */
  --gs-base-color-sky-5: #EFF9FB; /* bg */

  /* fuchsia (data) */
  --gs-base-color-data-130: #6E0A1D;
  --gs-base-color-data-120: #B51131;
  --gs-base-color-data-110: #DE2A5E; /* accessible */
  --gs-base-color-data-100: #F2718A;
  --gs-base-color-data-75: #F7A7B6;
  --gs-base-color-data-50: #F9B9C5;
  --gs-base-color-data-25: #FACBD4;
  --gs-base-color-data-10: #FCDDE3; /* bg */
  --gs-base-color-data-5: #FEEFF2; /* bg */

  /* forest (ted) */
  --gs-base-color-forest-130: #1F5E00;
  --gs-base-color-forest-120: #287928;
  --gs-base-color-forest-110: #2C862D; /* accessible */
  --gs-base-color-forest-100: #339900;
  --gs-base-color-forest-75: #80DE85;
  --gs-base-color-forest-50: #BBFF99;
  --gs-base-color-forest-25: #D5FFC0;
  --gs-base-color-forest-10: #EAF8E2; /* bg */
  --gs-base-color-forest-5: #F3FBEF; /* bg */

  /* earth (publications) */
  --gs-base-color-earth-130: #954B00;
  --gs-base-color-earth-120: #A25E1E;
  --gs-base-color-earth-110: #AC6420; /* accessible */
  --gs-base-color-earth-100: #FF9933;
  --gs-base-color-earth-75: #FFB66E;
  --gs-base-color-earth-50: #FFCA95;
  --gs-base-color-earth-25: #FFDEBC;
  --gs-base-color-earth-10: #FFF1E4; /* bg */
  --gs-base-color-earth-5: #FFF7EE; /* bg */

  /* lavender (research) */
  --gs-base-color-lavender-130: #451244;
  --gs-base-color-lavender-120: #641B62;
  --gs-base-color-lavender-110: #76017A; /* accessible */
  --gs-base-color-lavender-100: #93278F;
  --gs-base-color-lavender-75: #D97CD6;
  --gs-base-color-lavender-50: #E8A9E6;
  --gs-base-color-lavender-25: #F9DBFF;
  --gs-base-color-lavender-10: #F9E7F8; /* bg */
  --gs-base-color-lavender-5: #FDF7FD; /* bg */

  /* Main whoiswho */
  --gs-base-color-fire-130: #671908;
  --gs-base-color-fire-120: #9E270C;
  --gs-base-color-fire-110: #DA3510; /* accessible */
  --gs-base-color-fire-100: #EE441E;
  --gs-base-color-fire-75: #F09187;
  --gs-base-color-fire-50: #F8AE9E;
  --gs-base-color-fire-25: #FFDDD4;
  --gs-base-color-fire-10: #FDEDE9; /* bg */
  --gs-base-color-fire-5: #FEF6F4; /* bg */

  /*** Core ***

  /* Gray */
  --gs-base-color-gray-100: #333333; /* accessible */
  --gs-base-color-gray-75: #666666; /* accessible */
  --gs-base-color-gray-60: #858585; /* Borders */
  --gs-base-color-gray-45: #A3A3A3;
  --gs-base-color-gray-30: #C2C2C2; /* Disabled */
  --gs-base-color-gray-20: #D8D8D8; /* line */
  --gs-base-color-gray-15: #E0E0E0;
  --gs-base-color-gray-10: #EEEEEE; /* bg */
  --gs-base-color-gray-5: #F5F5F5; /* bg */

  /* White */
  --gs-base-color-white: #FFFFFF;

  /* Link */
  --gs-base-color-link-110: var(--gs-base-color-eu-blue-110); /* accessible */
  --gs-base-color-link-100: var(--gs-base-color-eu-blue-100); /* accessible */
  --gs-base-color-link-75: #668CD9;
  --gs-base-color-link-50: #99B2E5;
  --gs-base-color-link-25: #CCD9F2;
  --gs-base-color-link-10: var(--gs-base-color-eu-blue-10); /* bg for link hover */
  --gs-base-color-link-5: var(--gs-base-color-eu-blue-5); /* bg for link */

  /*** OP ***/

  /* opblue */
  --gs-base-color-opblue-110: #002E8A;
  --gs-base-color-opblue-100: #003399;
  --gs-base-color-opblue-75: #4066B2;
  --gs-base-color-opblue-50: #8099CC;
  --gs-base-color-opblue-25: #BFCCE5;
  --gs-base-color-opblue-10: #E8EDF6; /* bg */
  --gs-base-color-opblue-5: #F0F3F9; /* bg */

  /* opyellow */
  --gs-base-color-opyellow-110: #EBBC00;
  --gs-base-color-opyellow-100: #FFCC00;
  --gs-base-color-opyellow-75: #FFD940;
  --gs-base-color-opyellow-50: #FFE580;
  --gs-base-color-opyellow-25: #FFEDA4;
  --gs-base-color-opyellow-10: #FFF5CC; /* bg */
  --gs-base-color-opyellow-5: #FFFAE5; /* bg */

  /* Functional */
  --gs-base-color-error-100: #BB0202;
  --gs-base-color-error-75: #FF0000;
  --gs-base-color-highlight-100: #FFFD38;

  /*** EU harmonised colors ****/

  --gs-base-color-eu-blue-5: #F3F6FC; /* bg light (default) colour: footer, containers */
  --gs-base-color-eu-blue-10: #E7EDFA; /* bg dark colour for containers */
  --gs-base-color-eu-blue-20: #CFDAF5; /* horizontal dividers */
  --gs-base-color-eu-blue-60: #6E91E0; /* header nav vertical divider */
  --gs-base-color-eu-blue-80: #3E6CD5; /* button hover state */
  --gs-base-color-eu-blue-100: #0E47CB; /* link, main nav gradient light */
  --gs-base-color-eu-blue-110: #0D40B7; /* OP link button hover */
  --gs-base-color-eu-blue-140: #082B7A; /* text link hover, main nav gradient dark */

  --gs-base-color-eu-gray-80: #515560; /* site name, inactive breadcrumbs */
  --gs-base-color-eu-gray-100: #262B38; /* form border */
  --gs-base-color-eu-gray-140: #171A22; /* footer "black" text */


  /* OP colors */
  --color-OP-green: #2c862d;
  --color-OP-header-footer-background: #eee;
  --color-OP-header-footer-hover-background: #ccc;
  --color-OP-header-foreground: #444;
  /* OP fonts */
  --footer-OP-font-family: lucida grande, lucida sans unicode, lucida sans, sans-serif;

  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: var(--color-OP-green);
  --color-black: #000;
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Roboto", sans-serif;
  --body-font-weight-bold: 500;
  --monospace-font-family: "Roboto Mono", monospace;
  --monospace-font-weight-bold: 500;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-smoke-30);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-thumb-color: var(--color-gray-10);
  /* navbar */
  --navbar-background: var(--color-OP-header-footer-background);
  --navbar-font-color: var(--color-OP-header-foreground);
  --navbar_hover-background: var(--color-OP-header-footer-hover-background);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--body-font-color);
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-30);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-30);
  /* admonitions */
  --caution-color: #a0439c;
  --caution-on-color: var(--color-white);
  --important-color: #d32f2f;
  --important-on-color: var(--color-white);
  --note-color: #217ee7;
  --note-on-color: var(--color-white);
  --tip-color: #41af46;
  --tip-on-color: var(--color-white);
  --warning-color: #e18114;
  --warning-on-color: var(--color-white);
  /* doc */
  --doc-font-color: var(--color-jet-50);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.6;
  --doc-margin: 0 auto;
  --doc-margin--desktop: 0 2rem;
  --heading-font-color: var(--color-jet-80);
  --heading-font-weight: normal;
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: #1565c0;
  --link_hover-font-color: #104d92;
  --link_unresolved-font-color: var(--important-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--panel-background);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-70);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--panel-background);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-30);
  --sidebar-background: var(--color-smoke-90);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-OP-header-footer-background);
  --footer-font-color: var(--color-gray-70);
  --footer-link-font-color: var(#0e47cb);
  /* dimensions and positioning */
  --navbar-height: calc(200 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(828 / var(--rem-base) * 1rem);
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
